<div class="buttons">
  <button class="btn" routerLink="">Start</button>
  <button class="btn" routerLink="problema1">Problema 1</button>
  <button class="btn" routerLink="problema2">Problema 2</button>
  <button class="btn" routerLink="problema3">Problema 3</button>
  <button class="btn" routerLink="problema3-hill-climbing">Problema 3 Hill Climbing</button>
  <button class="btn" routerLink="problema3-simulated-annealing">Problema 3 Călirea metalelor</button>
</div>

<div  class="layout">
  <router-outlet  #outlet="outlet"></router-outlet>
</div>
